{% extends 'shop/base.html' %}

{% block content %}
<div class="page-wrapper">
    <div class="container py-5">
        <h1 class="text-center mb-4" style="font-weight: 700; margin-top:25px;">ABOUT US</h1>

        <div class="card shadow-sm p-4 mx-auto position-relative" style="max-width: 800px; min-height: 500px; background-color: #f8f9fa; border-radius: 12px;">

            <!-- Main text -->
            <p class="lead mb-3" style="line-height: 1.8; color: #34495e;">
                Hello! We are an International company focused on selling football items like jerseys, trading cards, and balls. We started working since September 2025, and if you're reading this text, it means that we're still going strong :)
                We also have a telegram bot where you can check the catalog of products and choose something, the url of the bot is here :
            </p>

            <!-- Bottom-right info -->
            <div style="position: absolute; bottom: 30px; left: 30px; text-align: left; color: #34495e;">
                <p class="mb-1"><strong>Telegram Bot:</strong> <a href="https://t.me/FootShhhopBot" target="_blank">@FootShop</a></p>
                <p class="mb-0"><strong>Director:</strong> Mr. Maks</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}